.bs-icon {
  --bs-icon-size: .75rem;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  font-size: var(--bs-icon-size);
  width: calc(var(--bs-icon-size) * 2);
  height: calc(var(--bs-icon-size) * 2);
  color: var(--bs-primary);
}

.bs-icon-xs {
  --bs-icon-size: 1rem;
  width: calc(var(--bs-icon-size) * 1.5);
  height: calc(var(--bs-icon-size) * 1.5);
}

.bs-icon-sm {
  --bs-icon-size: 1rem;
}

.bs-icon-md {
  --bs-icon-size: 1.5rem;
}

.bs-icon-lg {
  --bs-icon-size: 2rem;
}

.bs-icon-xl {
  --bs-icon-size: 2.5rem;
}

.bs-icon.bs-icon-primary {
  color: var(--bs-white);
  background: var(--bs-primary);
}

.bs-icon.bs-icon-primary-light {
  color: var(--bs-primary);
  background: rgba(var(--bs-primary-rgb), .2);
}

.bs-icon.bs-icon-semi-white {
  color: var(--bs-primary);
  background: rgba(255, 255, 255, .5);
}

.bs-icon.bs-icon-rounded {
  border-radius: .5rem;
}

.bs-icon.bs-icon-circle {
  border-radius: 50%;
}

.floating-menu-div {
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0px 4px 48px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(11.5px);
  -webkit-backdrop-filter: blur(11.5px);
  display: inline-flex;
  padding: .5rem;
  gap: 1rem;
  align-items: center;
  border-radius: 1.5rem;
  border: 1px solid #fff;
}

.floating-menu-div .btn {
  background: rgba(255, 255, 255, 0.56);
  border: 1px solid #FFFFFF;
  border-radius: 16px;
  color: var(--bs-primary);
  padding: 1rem;
}

.floating-menu-div .btn svg {
  font-size: 1.5rem;
}

.floating-menu-inner-div {
  gap: 1rem;
  align-items: center;
  display: flex;
  position: relative;
}

@media (max-width: 992px) {
  .header-content-div {
    min-height: 100vh;
  }
}

@media (min-width: 992px) {
  .header-content-div {
    padding-left: 2rem;
  }
}

@media (min-width: 992px) {
  .header-navbar {
    left: 2rem;
  }
}

@media (max-width: 992px) {
  .header-navbar {
    left: 0;
  }
}

.header-row {
  margin: 0;
}

.team-about-row .card {
  border: none;
  background: none;
  height: 100%;
}

.team-about-row img {
  filter: grayscale(1);
}

.img.amrit {
  background-image: url("../../assets/img/5df5ec_e1ff82656f894f218626e2ddc77ae64f~mv2.webp");
}

.team-about-row .img {
  background-size: cover;
  filter: grayscale(1);
  background-position: center;
}

.team-about-row .card .row {
  height: 100%;
}

.team-about-row .card .row .team-detail-col > div {
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

.img.farghad {
  background-image: url("../../assets/img/IMG_9033_edited.webp");
}

.img.justin {
  background-image: url("../../assets/img/Dr%20Justing%20wong%20photo.webp");
}

.img.nazila {
  background-image: url("../../assets/img/Screen%20Shot%202020-05-01%20at%202_56_edited_jp.webp");
}

.pt-7 {
  padding-top: 7rem;
}

.nexxlogo {
  filter: invert(1);
  width: 10rem;
}

.dropdown-menu .dropdown-item:not(:last-child) {
  border-bottom: .5px solid #ccc;
}

.dropdown-menu .dropdown-item {
  padding-top: .5rem;
  padding-bottom: .5rem;
  font-weight: 300;
}

.btn.nav-btn {
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 13px 8px rgba(0, 0, 0, 0.01);
  border-radius: 12px;
  border: none;
  color: #000;
  padding: 12px 16px;
  font-weight: 300;
  white-space: nowrap;
}

.floating-menu-menu {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  border-radius: 50%;
  transition-duration: 0s;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0px 4px 48px rgba(0,0,0,0.18);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid #ffffff00;
  z-index: 9;
}

.floating-menu-menu.open {
  bottom: 6rem;
  padding: 1rem;
  border-radius: 2rem;
  z-index: 10;
  width: 100%;
  border: 1px solid #fff;
}

.floating-menu-mother-div {
  left: 50%;
  bottom: 1rem;
  position: fixed;
  transform: translateX(-50%);
  z-index: 9;
}

.floating-menu-menu .btn {
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 13px 8px rgba(0, 0, 0, 0.01);
  border-radius: 16px;
  color: #000;
  display: flex;
  justify-content: space-between;
  font-weight: 200;
}

.floating-menu-menu .btn .icon-tabler-chevron-right {
  color: var(--bs-primary);
  font-size: 1.3rem;
}

.floating-menu-menu .dropdown-menu {
  padding: .5rem;
  text-align: center;
  /*width: 100%;*/
}

@media (max-width: 768px) {
  .floating-menu-menu.open {
    width: 90vw;
  }
}

@media (min-width: 768px) {
  .floating-menu-menu.open {
    width: 30rem;
  }
}

.floating-menu-menu .btn.dropdown-toggle::after {
  display: none;
}

.floating-menu-row.hide {
  opacity: 0;
}

.floating-menu-menu:not(.open) {
  /*width: 0;*/
  height: 0;
}

.backdop.open {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 8;
}

.backdop:not(.open) {
  position: fixed;
  bottom: 0;
  /*background: none;*/
}

.backdop {
  transition-duration: .1s;
}

.py-5rem {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-image: url("../../assets/img/javier-allegue-barros-i5Kx0P8A0d4-unsplash.webp");
  background-size: cover;
  background-position: center;
}

